html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  color: #2f3a2e;
  font-weight: 400;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 53px;
}

.menu__list {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.search {
  height: 30px;
  width: 145px;
  outline: none;
  border: none;
  background-color: #45c396;
  border-radius: 50px;
}

.search_form {
  display: flex;
  border-radius: 50px;
  background-color: #45c396;
}

.loop {
  position: absolute;
  z-index: 2;
  margin: 7px 0px 0px 119px;
  cursor: pointer;
}

.top__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 115%;
  width: 482px;
}

.top__text {
  font-size: 20px;
  font-weight: 400;
  width: 532px;
}

.top__btn {
  width: 172px;
  height: 45px;
  border-radius: 3px;
  background: #049365;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "Nunito", sans-serif;
}

.top__text-decorate {
  color: #649d88;
  text-decoration-line: underline;
}

.top__links {
  display: flex;
  align-items: center;
  gap: 40px;
}
